.app {
  background-color: #282c34;
  min-height: 100vh;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  grid-template-columns: auto auto auto;
  gap: 1em;
  margin: 2em;
}

.button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.image {
  object-fit: cover;
  height: 15vw;
  width: 15vw;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#top {
  background-color: white;
  display: grid;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  grid-template-columns: auto auto auto;
  padding: 1em;
}

label {
  background-color: white;
  color: black;
  padding: 0.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 0.5em;
  cursor: pointer;
}